<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="ProfileVo" type="com.lab.laboratory.model.entity.ProfileVo" />
		<typeAlias alias="LoginVo" type="com.lab.laboratory.model.entity.LoginVo" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/memberMapper.xml"/>
	</mappers>
</configuration>
