/*
---------------------------------------------------------------
*
* layout
*
---------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

$shadow: 'Shadows Into Light Two', cursive;

.comm_form {
	width: 300px;
	margin: 0 auto;
	li {
		position: relative;
		margin-top: 30px;
		&:first-child {
			margin: 0 !important;
		}
		&.btn {
			margin-top: 45px;
			&:before {
				content: '';
				position: absolute;
				top: -40px;
				height: 0;
				line-height: 1.5em;
				font-size: 14px;
				color: #ff0000;
				overflow: hidden;
				transition: height .3s;
			}
		}
	}
	input[type=text], input[type=email], input[type=password] {
		position: relative;
		border: 1px solid #666;
		padding: 0 10px;
		box-sizing: border-box;
		width: 100%;
		height: 38px;
		z-index: 1;
	}
	.lb_txt {
		position: absolute;
		top: 50%;
		left: 10px;
		font-size: 14px;
		color: #666;
		transform: translateY(-50%);
		transition: left .2s;
		z-index: 0;
		span {
			font-size: 13px;
		}
	}
	.lb_txt.off, input:focus + .lb_txt {
		width: 100px;
		left: -110px;
		text-align: right;
		span {
			display: none;
		}
	}
	// input[type=checkbox] {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 0;
	// 	height: 0;
	// 	overflow: hidden;
	// }
	.lb_chk {
		position: relative;
		display: block;
		width: 100%;
		padding-left: 25px;
		box-sizing: border-box;
		text-align: left;
		left: 0;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
		}
		&:before {
			width: 18px;
			height: 18px;
			border: 1px solid #666;
			box-sizing: border-box;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
		&:after {
			width: 15px;
			height: 10px;
			top: 3px;
			left: 2px;
			border-left: 3px solid $festa;
			border-bottom: 3px solid $festa;
			box-sizing: border-box;
			transform: rotate(-45deg);
			opacity: 0;
			z-index: 0;
		}
	}
	input[type=checkbox]:checked + .lb_chk:after {
		opacity: 1;
	}
	button {
		width: 100%;
		height: 50px;
		border: none;
		background: #555;
		font-size: 18px;
		color: #fff;
	}
	&.err {
		li.btn:before {
			content: '잘못된 이메일 또는 비밀번호입니다.';
			height: 1.5em;
		}
		input {
			border-color: #ff0000;
		}
	}
}