/*
---------------------------------------------------------------
*
* layout
*
---------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

$shadow: 'Shadows Into Light Two', cursive;

.container {
	margin: 0 auto;
	box-sizing: border-box;
}

#wrap {
	width: 100%;
	box-sizing: border-box;
	padding-left: 50px;
}

footer {
	p {
		position: relative;
		display: table;
		margin: 0 auto;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #555;
			transform: scaleX(1.8);
			transition: transform .3s linear;
		}
	}
}
#gnb {
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100vh;
	background: #555;
	li {
		position: relative;
		margin: 7px;
	}
	a {
		display: table;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background: #666;
	}
	i {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 25px;
		color: #eee;
		&:hover + span {
			opacity: 1;
		}
	}
	span {
		position: absolute;
		top: 50%;
		left: 32px;
		height: 18px;
		line-height: 16px;
		padding: 0 8px;
		background: #fff;
		border: 1px solid #555;
		font-family: $r;
		font-size: 13px;
		color: #555;
		opacity: 0;
		transition: opacity .2s linear;
	}
}
#userMenu {
	position: absolute;
	top: 0;
	right: 50px;
	z-index: 1;
	dt {
		height: 24px;
		line-height: 24px;
		padding: 0 10px;
		font-family: $m;
		font-size: 14px;
		background: #eee;
		overflow: hidden;
	}
	#btnUser {
		float: right;
		height: inherit;
		line-height: inherit;
		margin-left: 10px;
		border: none;
		font-size: 16px;
		color: #555;
	}
	dd {
		height: 22px;
		line-height: 20px;
		padding: 0 8px;
		background: #fff;
		border: 1px solid #555;
		border-bottom: none;
		font-family: $r;
		font-size: 13px;
		color: #555;
		&:last-child {
			border-bottom: 1px solid #555;
		}
	}
}

#container {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 30px);
	overflow: hidden;
	h2 {
		margin-bottom: 50px;
		font-family: $b;
		font-size: 50px;
	}
}

#codeTag {
	position: absolute;
	top: -8px;
	right: -30px;
	width: 84px;
	height: 50px;
	background: url(../images/tag.png) no-repeat center;
	background-size: 100%;
	overflow: hidden;
	transform: rotate(-45deg);
	a {
		display: block;
		width: inherit;
		height: inherit;
	}
}

.home_wrap, .login_wrap {
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

/* layer-popup */
.pop_wrap {
	width: 300px;
	margin-left: 50px;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	button {
		border: none;
		border-top: 1px solid #ddd;
		width: 100%;
		height: 50px;
		&:hover {
			background: #eee;
		}
	}
	.txt_mid {
		text-align: center;
	}
	.box_inform {
		padding: 30px;
		word-break: keep-all;
		h3 {
			margin-bottom: 20px;
			text-align: center;
			font-family: $r;
			font-size: 18px;
		}
		p {
			margin-bottom: 5px;
			font-size: 16px;
			&:last-child {
				margin: 0;
			}
		}
	}
	.confirm_form {
		ul {
			position: relative;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				height: 100%;
				background: #ddd;
			}
		}
		li {
			float: left;
			width: 50%;
		}
	}
}

/* index */
.home_wrap {
	h2 {
		font-family: $shadow !important;
		font-weight: bold;
		font-size: 48px;
		letter-spacing: 5px;
	}
}

/* login */
.login_wrap {
	.options {
		display: table;
		margin: 15px auto 0;
		li {
			display: table-cell;
			padding: 0 7px;
		}
	}
}
.comm_form {
	width: 300px;
	margin: 0 auto;
	li {
		position: relative;
		margin-top: 30px;
		&:first-child {
			margin: 0 !important;
		}
		&.btn {
			margin-top: 45px;
			&:before {
				content: '';
				position: absolute;
				top: -40px;
				height: 0;
				line-height: 1.5em;
				font-size: 14px;
				color: #ff0000;
				overflow: hidden;
				transition: height .3s;
			}
		}
	}
	&#loginForm {
		li {
			margin-top: 20px;
		}
	}
	input[type=text], input[type=email], input[type=password] {
		position: relative;
		border: 1px solid #666;
		padding: 0 10px;
		box-sizing: border-box;
		width: 100%;
		height: 38px;
		z-index: 1;
	}
	input[type=checkbox] {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	label {
		position: absolute;
		top: 50%;
		left: 10px;
		font-size: 14px;
		color: #666;
		transform: translateY(-50%);
		transition: left .2s;
		z-index: 0;
		span {
			font-size: 13px;
		}
	}
	.label_chk {
		position: relative;
		display: block;
		width: 100%;
		padding-left: 25px;
		box-sizing: border-box;
		text-align: left;
		left: 0;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
		}
		&:before {
			width: 18px;
			height: 18px;
			border: 1px solid #666;
			box-sizing: border-box;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
		&:after {
			width: 15px;
			height: 10px;
			top: 3px;
			left: 2px;
			border-left: 3px solid $festa;
			border-bottom: 3px solid $festa;
			box-sizing: border-box;
			transform: rotate(-45deg);
			z-index: 0;
		}
	}
	label.off, input:focus + label {
		width: 100px;
		left: -110px;
		text-align: right;
		span {
			display: none;
		}
	}
	button {
		width: 100%;
		height: 50px;
		border: none;
		background: #555;
		font-size: 18px;
		color: #fff;
	}
	&.err {
		li.btn:before {
			content: '잘못된 이메일 또는 비밀번호입니다.';
			height: 1.5em;
		}
		input {
			border-color: #ff0000;
		}
	}
}
#loginForm {

}