/*
---------------------------------------------------------------
*
* layout
*
---------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

$shadow: 'Shadows Into Light Two', cursive;

.container {
	margin: 0 auto;
	box-sizing: border-box;
}

#wrap {
	width: 100%;
	box-sizing: border-box;
	padding-left: 50px;
}

footer {
	p {
		position: relative;
		display: table;
		margin: 0 auto;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #555;
			transform: scaleX(1.8);
			transition: transform .3s linear;
		}
	}
}
#gnb {
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100vh;
	background: #555;
	li {
		position: relative;
		margin: 7px;
	}
	a {
		display: table;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background: #666;
	}
	i {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 25px;
		color: #eee;
		&:hover + span {
			opacity: 1;
		}
	}
	span {
		position: absolute;
		top: 50%;
		left: 32px;
		height: 18px;
		line-height: 16px;
		padding: 0 8px;
		background: #fff;
		border: 1px solid #555;
		font-family: $r;
		font-size: 13px;
		color: #555;
		opacity: 0;
		transition: opacity .2s linear;
	}
}
#userMenu {
	position: absolute;
	top: 0;
	right: 50px;
	z-index: 1;
	dt {
		height: 24px;
		line-height: 24px;
		padding: 0 10px;
		font-family: $m;
		font-size: 14px;
		background: #eee;
		overflow: hidden;
	}
	#btnUser {
		float: right;
		height: inherit;
		line-height: inherit;
		margin-left: 10px;
		border: none;
		font-size: 16px;
		color: #555;
	}
	dd {
		height: 22px;
		line-height: 20px;
		padding: 0 8px;
		background: #fff;
		border: 1px solid #555;
		border-bottom: none;
		font-family: $r;
		font-size: 13px;
		color: #555;
		&:last-child {
			border-bottom: 1px solid #555;
		}
	}
}

#container {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 30px);
	overflow: hidden;
	h2 {
		margin-bottom: 50px;
		font-family: $b;
		font-size: 50px;
	}
}

#codeTag {
	position: absolute;
	top: -8px;
	right: -30px;
	width: 84px;
	height: 50px;
	background: url(../images/tag.png) no-repeat center;
	background-size: 100%;
	overflow: hidden;
	transform: rotate(-45deg);
	a {
		display: block;
		width: inherit;
		height: inherit;
	}
}

.home_wrap, .login_wrap {
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

/* index */
.home_wrap {
	h2 {
		font-family: $shadow !important;
		font-weight: bold;
		font-size: 48px;
		letter-spacing: 5px;
	}
}

/* login */
.login_wrap {
	.options {
		display: table;
		margin: 15px auto 0;
		li {
			display: table-cell;
			padding: 0 7px;
		}
	}
}
#loginForm {
	li {
		margin-top: 20px;
	}
}