			<!-- <h1><a href=""><img src="../images/logo.png" alt=""></a></h1> -->
			<nav id="gnb">
				<ul>
					<li><a href="/html/"><i class="xi-home"></i><span>Home</span></a></li>
					<li><a href="/html/user/login.html"><i class="xi-user"></i><span>Login</span></a></li>
				</ul>
			</nav>
			<div id="userMenu">
				<dl>
					<dt>사용자 님<button type="button" id="btnUser"><i class="xi-view-list"></i></button></dt>
					<dd><a href="">정보수정</a></dd>
					<dd><a href="">탈퇴하기</a></dd>
					<dd><a href="/html/user/_logout.html" class="btn_layer">로그아웃</a></dd>
				</dl>
			</div>